<h1><%= link_to 'Wikinonimous', articles_path %></h1>
<%= link_to 'New Article', new_article_path %>

<h3>New article</h3>
<%= render 'form', article: @article %>

<%= link_to 'Back', articles_path %>
